/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url("../fonts/BasisGrotesquePro-Light.eot");
  src: url("../fonts/BasisGrotesquePro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BasisGrotesquePro-Light.woff") format("woff"), url("../fonts/BasisGrotesquePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url("../fonts/BasisGrotesquePro-Regular.eot");
  src: url("../fonts/BasisGrotesquePro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BasisGrotesquePro-Regular.woff") format("woff"), url("../fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url("../fonts/BasisGrotesquePro-Medium.eot");
  src: url("../fonts/BasisGrotesquePro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BasisGrotesquePro-Medium.woff") format("woff"), url("../fonts/BasisGrotesquePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url("../fonts/BasisGrotesquePro-Bold.eot");
  src: url("../fonts/BasisGrotesquePro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasisGrotesquePro-Bold.woff") format("woff"), url("../fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url("../fonts/BasisGrotesquePro-Black.eot");
  src: url("../fonts/BasisGrotesquePro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/BasisGrotesquePro-Black.woff") format("woff"), url("../fonts/BasisGrotesquePro-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/*
|--------------------------------------------------------------------------
| helpers
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

h2, .h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 18px;
  font-size: 1.125rem;
}

h4, .h4 {
  font-size: 17px;
  font-size: 1.0625rem;
}

h5, .h5 {
  font-size: 14px;
  font-size: 0.875rem;
}

h6, .h6 {
  font-size: 12px;
  font-size: 0.75rem;
}

a {
  color: #0099DE;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

a:hover, a:focus {
  color: #337AB7;
  text-decoration: none;
}

.tx-black {
  font-weight: 900;
}

.tx-bold {
  font-weight: 700;
}

.tx-semibold {
  font-weight: 600;
}

.tx-medium {
  font-weight: 500;
}

.tx-normal {
  font-weight: 400;
}

.tx-light {
  font-weight: 300;
}

.tx-thin {
  font-weight: 200;
}

.tx-xthin {
  font-weight: 100;
}

.tx-8 {
  font-size: 8px;
}

.tx-8-f {
  font-size: 8px !important;
}

.tx-9 {
  font-size: 9px;
}

.tx-9-f {
  font-size: 9px !important;
}

.tx-10 {
  font-size: 10px;
}

.tx-10-f {
  font-size: 10px !important;
}

.tx-11 {
  font-size: 11px;
}

.tx-11-f {
  font-size: 11px !important;
}

.tx-12 {
  font-size: 12px;
}

.tx-12-f {
  font-size: 12px !important;
}

.tx-13 {
  font-size: 13px;
}

.tx-13-f {
  font-size: 13px !important;
}

.tx-14 {
  font-size: 14px;
}

.tx-14-f {
  font-size: 14px !important;
}

.tx-15 {
  font-size: 15px;
}

.tx-15-f {
  font-size: 15px !important;
}

.tx-16 {
  font-size: 16px;
}

.tx-16-f {
  font-size: 16px !important;
}

.tx-17 {
  font-size: 17px;
}

.tx-18 {
  font-size: 18px;
}

.tx-18-f {
  font-size: 18px !important;
}

.tx-19 {
  font-size: 19px;
}

.tx-19-f {
  font-size: 19px !important;
}

.tx-20 {
  font-size: 20px !important;
}

.tx-20-f {
  font-size: 20px !important;
}

.tx-21 {
  font-size: 21px;
}

.tx-21-f {
  font-size: 21px !important;
}

.tx-22 {
  font-size: 22px;
}

.tx-22-f {
  font-size: 22px !important;
}

.tx-23 {
  font-size: 23px;
}

.tx-23-f {
  font-size: 23px !important;
}

.tx-24 {
  font-size: 24px;
}

.tx-24-f {
  font-size: 24px !important;
}

.tx-25 {
  font-size: 25px;
}

.tx-25-f {
  font-size: 25px !important;
}

.tx-26 {
  font-size: 26px;
}

.tx-26-f {
  font-size: 26px !important;
}

.tx-27 {
  font-size: 27px;
}

.tx-27-f {
  font-size: 27px !important;
}

.tx-28 {
  font-size: 28px;
}

.tx-28-f {
  font-size: 28px !important;
}

.tx-29 {
  font-size: 29px;
}

.tx-29-f {
  font-size: 29px !important;
}

.tx-30 {
  font-size: 30px;
}

.tx-30 {
  font-size: 30px !important;
}

.tx-aqua {
  color: #7FDBFF !important;
}

.tx-blue {
  color: #337AB7 !important;
}

.tx-navy {
  color: #01152C !important;
}

.tx-teal {
  color: #39CCCC !important;
}

.tx-green {
  color: #2ECC40 !important;
}

.tx-olive {
  color: #128C7E !important;
}

.tx-lime {
  color: #01FF70 !important;
}

.tx-yellow {
  color: #FFDC00 !important;
}

.tx-orange {
  color: #FF851B !important;
}

.tx-red {
  color: #F05454 !important;
}

.tx-fuchsia {
  color: #F012BE !important;
}

.tx-purple {
  color: #B10DC9 !important;
}

.tx-maroon {
  color: #85144B !important;
}

.tx-white {
  color: #ffffff !important;
}

.tx-silver {
  color: #F6F6F6 !important;
}

.tx-gray {
  color: #828282 !important;
}

.tx-black {
  color: #111111 !important;
}

/*
|--------------------------------------------------------------------------
| Common styles
|--------------------------------------------------------------------------
*/
html, body {
  height: 100%;
}

body {
  font-family: 'BasisGrotesquePro', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-rendering: optimizeLegibility;
  margin: 0;
}

@media (min-width: 320px) {
  body {
    font-size: 14px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
|--------------------------------------------------------------------------
| inputs reset
|--------------------------------------------------------------------------
*/
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  -webkit-appearance: none;
  outline: 0;
  margin: 0;
}

/*
|--------------------------------------------------------------------------
| Responsive default Images & Other Objects
|--------------------------------------------------------------------------
*/
img, object, embed {
  max-width: 100%;
}

/*
|--------------------------------------------------------------------------
| Scrollbar styling
|--------------------------------------------------------------------------
*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #e4e8f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0bec5;
  border-radius: 10px;
  width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c;
}

/*
|--------------------------------------------------------------------------
| Reset Plugins Styles
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| App
|--------------------------------------------------------------------------
*/
.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.app__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.app__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  /* flex: 1; would be enough but it looks bad in IE */
}

.app__container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  padding: 0 0.9375rem;
}

/*
|--------------------------------------------------------------------------
| logo
|--------------------------------------------------------------------------
*/
.logo {
  display: block;
  width: 114px;
  width: 7.125rem;
  height: 50px;
  height: 3.125rem;
  background: url("../img/general/logo.svg") center/100% no-repeat;
}

@media (min-width: 576px) {
  .logo {
    width: 138px;
    width: 8.625rem;
    height: 59px;
    height: 3.6875rem;
  }
}

/*
|--------------------------------------------------------------------------
| header
|--------------------------------------------------------------------------
*/
.header {
  padding: 10px 0;
  padding: 0.625rem 0;
  border-bottom: 2px solid #F6F6F6;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
|--------------------------------------------------------------------------
| navigation
|--------------------------------------------------------------------------
*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navigation__link {
  font-size: 16px;
  font-size: 1rem;
  margin-left: 30px;
  margin-left: 1.875rem;
  text-decoration: none;
}

.navigation__link.is-active {
  font-weight: 500;
}

/*
|--------------------------------------------------------------------------
| categories
|--------------------------------------------------------------------------
*/
.categories {
  padding: 35px 0;
  padding: 2.1875rem 0;
}

.categories__header {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -7px -5px;
  margin: -0.4375rem -0.3125rem;
}

.categories__item {
  padding: 7px 5px;
  padding: 0.4375rem 0.3125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

@media (min-width: 768px) {
  .categories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.categories__link {
  font-weight: 600;
  text-decoration: none;
}

.categories__link span {
  color: #888;
  font-weight: normal;
}

.categories__show-more {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.categories__show-button {
  color: #0099DE;
  padding: 0;
  border: none;
  text-decoration: underline;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.categories__show-button:hover, .categories__show-button:focus {
  text-decoration: none;
  color: #337AB7;
}

/*
|--------------------------------------------------------------------------
| seo
|--------------------------------------------------------------------------
*/
.seo__title {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 600;
}

@media (min-width: 768px) {
  .seo__title {
    font-size: 32px;
    font-size: 2rem;
  }
}

/*
|--------------------------------------------------------------------------
| panel
|--------------------------------------------------------------------------
*/
.panel {
  border-radius: 3px;
  border-radius: 0.1875rem;
  background: #F2F2F2;
  margin: 30px 0;
  margin: 1.875rem 0;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.panel__search {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .panel__search {
    max-width: 280px;
    max-width: 17.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    -ms-flex: 0 0 17.5rem;
        flex: 0 0 17.5rem;
  }
}

.panel__search-input {
  background: #fff url("../img/general/ic-search.svg") center right 15px no-repeat;
  border-radius: 3px;
  border-radius: 0.1875rem;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  height: 35px;
  border: none;
  width: 100%;
  padding: 0 15px;
  padding: 0 0.9375rem;
}

.panel__search-input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.panel__search-input::-moz-placeholder {
  color: #B1B1B1;
}

.panel__search-input:-ms-input-placeholder {
  color: #B1B1B1;
}

.panel__search-input::-ms-input-placeholder {
  color: #B1B1B1;
}

.panel__search-input::placeholder {
  color: #B1B1B1;
}

.panel__results {
  margin: 15px auto 0;
  margin: 0.9375rem auto 0;
  color: #333;
}

@media (min-width: 576px) {
  .panel__results {
    margin: 0 0 0 auto;
    text-align: right;
  }
}

/*
|--------------------------------------------------------------------------
| cards
|--------------------------------------------------------------------------
*/
.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  margin: -0.9375rem;
}

.cards__item {
  padding: 15px;
  padding: 0.9375rem;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
}

.cards__item:hover, .cards__item:focus {
  z-index: 4;
}

@media (min-width: 768px) {
  .cards__item:hover .cards__extra, .cards__item:focus .cards__extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .cards__item:hover .cards__content, .cards__item:focus .cards__content {
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .cards__item {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .cards__item {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.cards__inner {
  position: relative;
  z-index: 2;
}

.cards__img {
  display: block;
}

.cards__img img {
  width: 100%;
  display: block;
}

.cards__content {
  padding: 10px 0 0 0;
  padding: 0.625rem 0 0 0;
}

.cards__title {
  text-decoration: none;
}

.cards__user-name {
  font-weight: 500;
}

.cards__info {
  margin-top: 3px;
  margin-top: 0.1875rem;
}

.cards__info span {
  color: #888;
}

.cards__extra {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -39px;
  left: 0;
  background: #fff;
  color: #888;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0 0;
  padding: 0.625rem 0 0;
}

@media (min-width: 768px) {
  .cards__extra {
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    padding: 0.9375rem;
  }
}

@media (max-width: 767px) {
  .cards__extra {
    position: static;
    display: block;
  }
}

.cards__extra-text {
  font-size: 13px;
  font-size: 0.8125rem;
}

.cards__button {
  width: 100%;
  height: 30px;
  height: 1.875rem;
  border-radius: 3px;
  border-radius: 0.1875rem;
  color: #fff;
  text-decoration: none;
  background: #0099DE;
  border: none;
  outline: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.cards__button:hover, .cards__button:focus {
  background: #337AB7;
  color: #fff;
}

/*
|--------------------------------------------------------------------------
| info
|--------------------------------------------------------------------------
*/
.info {
  font-size: 14px;
  font-size: 0.875rem;
  color: #828282;
  padding: 25px;
  padding: 1.5625rem;
  background-color: #F5F5F5;
  border-radius: 8px;
  border-radius: 0.5rem;
}

.info__header {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #0099DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.info__icon {
  max-width: 24px;
  max-width: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  -ms-flex: 0 0 1.5rem;
      flex: 0 0 1.5rem;
  margin-right: 8px;
  margin-right: 0.5rem;
}

.info p {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  margin-top: 0;
}

.info p:last-child {
  margin-bottom: 0;
}

.info__content {
  color: #333;
  padding: 15px 0 0 0;
  padding: 0.9375rem 0 0 0;
}

/*
|--------------------------------------------------------------------------
| loader
|--------------------------------------------------------------------------
*/
.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  padding: 1.875rem 0;
}

.preloader__spinner {
  stroke: #0099DE;
  height: 36px;
  width: 36px;
  -webkit-animation: rotation 1.35s linear infinite;
  animation: rotation 1.35s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.circle {
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: turn 1.35s ease-in-out infinite;
  animation: turn 1.35s ease-in-out infinite;
}

@-webkit-keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes turn {
  0% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

/*
|--------------------------------------------------------------------------
| footer
|--------------------------------------------------------------------------
*/
.footer {
  padding: 20px 0;
  padding: 1.25rem 0;
  border-top: 2px solid #F6F6F6;
  margin-top: 55px;
  margin-top: 3.4375rem;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
